@charset "UTF-8";
:root {
  --primery-text-color: #212121;
  --auxiliary-text-color: #757575;
  --white-text: #ffffff;
  --hover-color: #2196f3;
  --hero-footer-color: #2f303a;
  --background-color: #e5e5e5;
  --auxiliary-background-color: #f5f4fa;
}

body {
  color: var(--primery-text-color);
  background-color: var(--white-text);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

div {
  outline: 2px solid #8400ff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  color: var(--primery-text-color);
  background-color: var(--white-text);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.header {
  background-color: var(--white-text);
  padding: 24px 0 24px;
  border-bottom: 1px solid #ececec;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

/* фото ГЕРОЙ */
.overlay {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/overlay-mob-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay-tab.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/overlay-tab-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/overlay.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/overlay-2x.jpg");
  }
}

.flex {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.list-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .list-nav {
    display: none;
  }
}

/*відступи між пунктами меню */
.list__item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  display: inline-block;
  margin-right: 101px;
  color: var(--hover-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.site-nav__logo--span {
  display: inline-block;
  color: var(--primery-text-color);
  font-size: 26px;
}

.list__link {
  display: block;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  position: relative;
  left: 0;
  bottom: -31px;
}

.current {
  color: var(--hover-color);
}

.list__link:hover,
.list__link:focus {
  color: var(--hover-color);
}

.info {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .info {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .info {
    display: flex;
    align-items: center;
    list-style: none;
  }
}

.list__item-message:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1200px) {
  .list__item-message:not(:last-child) {
    margin-right: 0px;
  }
}

.list__email,
.list__tel {
  color: var(--auxiliary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .list__email,
  .list__tel {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .list__email {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .list__email {
    margin-bottom: 0px;
  }
}

.list__email {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list__email:hover, .list__email:focus {
  color: var(--hover-color);
}

.list__email:hover .list__icon-email,
.list__email:focus .list__icon-email {
  fill: #2196f3;
}

.list__icon-email {
  fill: var(--auxiliary-text-color);
  margin-right: 10px;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .list__icon-email {
    width: 14px;
    height: 10px;
  }
}

.list__tel {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list__tel:hover, .list__tel:focus {
  color: var(--hover-color);
}

.list__tel:hover .icon-tel {
  fill: #2196f3;
}

.list__tel:hover .list__icon-tel,
.list__tel:focus .list__icon-tel {
  fill: #2196f3;
}

.list__icon-tel {
  fill: var(--auxiliary-text-color);
  width: 10px;
  height: 16px;
  margin-right: 10px;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .list__icon-tel {
    width: 10px;
    height: 14px;
  }
}

.menu-open-btn,
.menu-close-btn {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  font: inherit;
  fill: var(--primery-text-color);
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn:hover, .menu-open-btn:focus,
.menu-close-btn:hover,
.menu-close-btn:focus {
  fill: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .menu-open-btn,
  .menu-close-btn {
    display: none;
  }
}

.menu-close-btn {
  margin-bottom: 8px;
  padding: 21px 10px 0;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  padding-top: 21px;
  padding-bottom: 48px;
}

.mob-container {
  max-width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu__item {
  color: var(--hover-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.14;
  text-decoration: none;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 480px) {
  .mob-menu__item {
    font-size: 40px;
  }
}

.mob-list__tel {
  color: var(--hover-color);
  font-weight: 500;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  margin-bottom: 32px;
}

@media screen and (min-width: 480px) {
  .mob-list__tel {
    font-size: 34px;
  }
}

.mob-menu__link {
  text-decoration: none;
  color: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--hover-color);
}

.mob-info__item-tel {
  margin-bottom: 32px;
}

.mob-menu__item-message {
  margin-bottom: 64px;
}

.mob-info__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--auxiliary-text-color);
  text-decoration: none;
}

.networks {
  display: flex;
  padding-bottom: 48px;
}

.networks__item:not(:last-child) {
  margin-right: 20px;
}

.networks__list {
  text-decoration: none;
  color: var(--hover-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .networks__list {
    font-size: 18px;
  }
}

.mob-mehu-top,
.mob-mehu-bottom {
  padding-left: 25px;
}

.hero {
  padding: 0;
}

.container__hero-title {
  margin-bottom: 30px;
  padding-top: 118px;
  color: var(--white-text);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .container__hero-title {
    padding-top: 200px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  min-width: 100px;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  color: var(--white-text);
  background-color: var(--hover-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container__button:hover,
.container__button:focus {
  color: var(--auxiliary-text-color);
}

.list__about-icon {
  min-width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .list__about-icon {
    width: 270px;
  }
}

.list__about {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .list__about {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .desc {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .desc {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.list__itms-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .list__itms-subtitle {
    text-align: left;
  }
}

.list__items-text {
  color: var(--auxiliary-text-color);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
}

.list-portrait {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .list-portrait {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-portrait {
    display: flex;
  }
}

.list-portrait__item {
  min-width: 270px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .list-portrait__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-portrait__item {
    width: 270px;
  }
}

.portrait {
  padding: 30px 0;
}

.portrait__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.portrait__text {
  color: var(--auxiliary-text-color);
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.portrait__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.portrait__item + .portrait__item {
  margin-left: 10px;
}

.portrait__link {
  width: 44px;
  height: 44px;
  background-color: var(--white-text);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*  hover посилання */
}

.portrait__link:hover, .portrait__link:focus {
  background-color: var(--hover-color);
  /* hover посилання самої іконки */
}

.portrait__link:hover:hover .portrait__icon, .portrait__link:focus:hover .portrait__icon {
  fill: var(--white-text);
}

.portrait__link:hover:focus .portrait__icon, .portrait__link:focus:focus .portrait__icon {
  fill: var(--white-text);
}

/* колір самої іконки */
.portrait__icon {
  fill: #afb1b8;
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .specifics {
    display: none;
  }
}

.pic {
  display: flex;
}

.list__pic-title {
  width: 100%;
  height: 70px;
  padding: 27px 80px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
}

.list__img {
  width: 370px;
  position: relative;
}

.list__img:not(:last-child) {
  margin-right: 30px;
}

.team {
  padding-top: 60px;
  background-color: var(--auxiliary-background-color);
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
  }
}

.list-portrait__item {
  background-color: var(--white-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.logos__list {
  margin-bottom: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 480px) {
  .logos__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .logos__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .logos__list {
    display: flex;
  }
}

.logos__link {
  margin-bottom: 30px;
  display: block;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .logos__link {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    min-width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .logos__link {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    min-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .logos__link {
    min-width: 170px;
  }
}

.logos__link:hover, .logos__link:focus {
  border-color: var(--hover-color);
}

.logos__link:hover .logos__icon {
  fill: var(--hover-color);
}

.logos__link:focus .logos__icon {
  fill: var(--hover-color);
}

.logos__icon {
  display: block;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .box {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn {
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--white-text);
  background-color: var(--hover-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 768px) {
  .portfolio__btn:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.portfolio__hide {
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
}

/* сітка портфоліо */
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 34px;
  }
}

/* сітка портфоліо */
.item__portfolio {
  list-style: none;
}

.item__portfolio:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .item__portfolio {
    list-style: none;
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .item__portfolio:nth-child(2n) {
    margin-right: 0;
  }
  .item__portfolio:nth-child(-n + 8) {
    margin-bottom: 30px;
  }
  .item__portfolio:nth-child(3) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .item__portfolio {
    list-style: none;
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__cardtitle {
  margin-bottom: 4px;
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* синій оверлей */
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__link:hover .portfolio__text {
  transform: translateY(0);
}

.portfolio__link:focus .portfolio__text {
  transform: translateY(0);
}

.portfolio-div {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .tablet {
    padding-bottom: 56px;
  }
}

.portfolio__subtitle {
  color: var(--auxiliary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.link-popup {
  position: relative;
  overflow: hidden;
}

.portfolio__text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-text);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--hero-footer-color);
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.div-address {
  min-width: 231px;
  text-align: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .div-address {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .div-address {
    margin-right: 0;
    text-align: left;
  }
}

.div-address__logofooter {
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  margin-bottom: 20px;
}

.item:not(:last-child) {
  margin-bottom: 9px;
}

.div-address__logofooter--span {
  color: var(--white-text);
}

.address__map {
  color: var(--white-text);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__map:hover, .address__map:focus {
  color: var(--hover-color);
}

.address__mail,
.address__tel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail:hover, .address__mail:focus,
.address__tel:hover,
.address__tel:focus {
  color: var(--hover-color);
}

.address {
  font-style: normal;
}

.network {
  width: 206px;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .network {
    margin-left: 70px;
  }
}

.network__subtitle {
  color: var(--white-text);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .network__subtitle {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .network__subtitle {
    margin-top: 0;
    text-align: left;
  }
}

.footer-linknetwork {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    margin-left: 93px;
  }
}

.form-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .form-footer__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__input {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form-footer__footer-input {
  display: block;
  min-width: 290px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 0 15px 16px;
  background-color: transparent;
  color: #ffffff;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .form-footer__footer-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__footer-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.form-footer__telegram {
  display: block;
  fill: #ffffff;
  margin-left: 10px;
}

.form-footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .form-footer__btn {
    margin-top: 0;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  font-size: 28px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms;
}

.is-hidden .modal {
  transform: rotate(-300deg) scale(0.5);
}

.modal {
  width: 100%;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: transform 500ms;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop__button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button:hover, .backdrop__button:focus {
  border-color: var(--hover-color);
}

.backdrop__button:hover .backdrop__icon {
  fill: var(--hover-color);
}

.backdrop__button:focus .backdrop__icon {
  fill: var(--hover-color);
}

.backdrop__icon {
  fill: #000000;
  margin: 0 auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* скривання модалки */
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop__titl {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.backdrop__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--auxiliary-text-color);
  margin-bottom: 10px;
}

.backdrop__span {
  display: block;
  position: relative;
}

.backdrop__label coment {
  margin-bottom: 30px;
}

.textarea::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__input:hover, .backdrop__input:focus {
  border-color: #2196f3;
}

.backdrop__input:hover + .backdrop__formsvg {
  fill: #2196f3;
}

.backdrop__input:focus + .backdrop__formsvg {
  fill: #2196f3;
}

.backdrop__formsvg {
  display: inline-block;
  fill: #212121;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__formsvg:hover {
  fill: #2196f3;
}

.backdrop__formsvg:hover .backdrop__input {
  border-color: #2196f3;
}

.textarea {
  height: 120px;
  padding-left: 16px;
  resize: none;
}

.backdrop__btn {
  display: block;
  padding: 10px 56px;
  margin: 0 auto;
}

/* checkbox  form*/
.backdrop__checkbox {
  margin-bottom: 30px;
}

.backdrop__checkboxlabel,
.backdrop__link {
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .backdrop__checkboxlabel,
  .backdrop__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 768px) {
  .backdrop__checkboxlabel {
    min-width: 377px;
  }
}

@media screen and (min-width: 480px) {
  .backdrop__checkboxlabel {
    min-width: 377px;
  }
}

/* .backdrop__checkboxlabel {
  display: flex;
  align-items: center;
} */
/* власний checkbox спосіб №1 */
/* .backdrop__checkboxlabel::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  
  margin-right: 7px;
  cursor: pointer;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.backdrop__checkboxinput:checked + .backdrop__checkboxlabel::before  {
 
  background-image: url(../images/icon-check.svg);
  border: none;
} */
.backdrop__link {
  color: var(--hover-color);
}

/* власний checkbox спосіб №2 використовуємо іконку зі спрайту */
.backdrop__checkboxlabel span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: baound-collor 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__onsvg {
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__checkboxinput:checked + .backdrop__checkboxlabel > span {
  background-color: var(--hover-color);
  border: none;
}

.backdrop__checkboxinput:checked + .backdrop__checkboxlabel > span:focus + .backdrop__checkboxlabel > span {
  border-color: var(--hover-color);
}

.backdrop__checkboxinput:checked + .backdrop__checkboxlabel > span:checked + .backdrop__checkboxlabel > span {
  background-color: var(--hover-color);
  border: none;
}

.backdrop__checkboxinput:checked + .backdrop__checkboxlabel > span:checked + .backdrop__checkboxlabel svg {
  fill: #ffffff;
}

/* скриваємо стандартний checkbox */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/*# sourceMappingURL=main.css.map */