.list-portrait {
  display: flex;
}

.portrait {
  padding: 30px 0;
}

.portrait__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.portrait__text {
  color: var(--auxiliary-text-color);

  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.portrait__list {
  display: flex;
  justify-content: center;
  list-style: none;
}
/* відстань між іконками */
.portrait__item + .portrait__item {
  margin-left: 10px;
}

.portrait__link {
  width: 44px;
  height: 44px;

  background-color: var(--white-text);

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* hover посилання */
  &:hover,
  &:focus {
    background-color: var(--hover-color);

    /* hover посилання самої іконки */
    &:hover .portrait__icon {
      fill: var(--white-text);
    }
    &:focus .portrait__icon {
      fill: var(--white-text);
    }
  }
}

/* колір самої іконки */

.portrait__icon {
  fill: #afb1b8;
  display: block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
