.list-portrait {
  // display: flex;

  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.list-portrait__item {
  min-width: 270px;

  margin-bottom: 30px;

  // min-width: 254px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.list-portrait__item {
  // min-width: 290px;

  // &:not(:last-child) {
  //   margin-bottom: 30px;
  // }

  // @media screen and (min-width: 1200px) {
  //   // margin-left: 30px;
  // }
}

.portrait {
  padding: 30px 0;
}

.portrait__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.portrait__text {
  color: var(--auxiliary-text-color);

  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.portrait__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

//todo відстань між іконками

.portrait__item + .portrait__item {
  margin-left: 10px;
}

.portrait__link {
  width: 44px;
  height: 44px;

  background-color: var(--white-text);

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /*  hover посилання */
  &:hover,
  &:focus {
    background-color: var(--hover-color);

    /* hover посилання самої іконки */
    &:hover .portrait__icon {
      fill: var(--white-text);
    }
    &:focus .portrait__icon {
      fill: var(--white-text);
    }
  }
}

/* колір самої іконки */

.portrait__icon {
  fill: #afb1b8;
  display: block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
