body {
  color: var(--primery-text-color);
  background-color: var(--white-text);

  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
// div {
//   outline: 2px solid rgb(255, 0, 242);
// }
